.countdown-container {
    position: fixed;
    bottom: 18rem;
    right: 4rem;

    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;

    background-color: rgba(39, 93, 107, 0.6);
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 1rem;
    z-index: 1000; /* Ensure it stays on top */
}

.countdown-item {
    text-align: center;
    min-width: 60px;
}

.countdown-value {
    font-size: 2.5rem;
    font-weight: bold;
    color: #76EADA;
}
